<table role="presentation" style="width:100%;background-color:#efefef">
    <tbody>
        <tr>
            <td>
                <table role="presentation"
                    style="hyphens:none;overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;width:100%;margin:auto;max-width:600px;min-width:280px;text-align:center;margin-top: 24px;">
                    <tbody>
                        <tr>
                            <td style="padding:0">
                                <table
                                    style="width: 100%; padding: 20px; background-color: #fff; border-top: 3px solid #093594;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <%- include('../components/header') -%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Your donation was rejected. </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <%- include('../components/footer') -%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

