<!--FOOTER -->
<table role="presentation" style="width:100%;color:#000; border-spacing:0;table-layout:fixed;border-collapse:separate">
    <tbody>
        <tr>
            <td dir="ltr" style="padding-top: 24px; padding-bottom: 24px;">
                <p
                    style="text-align:center;font-size: 14px; font-weight: 300; line-height:21px;margin: 0; color: #788087;">
                    © All Rights Reserved.</p>
            </td>
        </tr>
    </tbody>
</table>
<!-- END FOOTER -->